.upper-content {
    position: relative;
    background-color: #EEBECE;
    padding-bottom: 93px;
}

.top-section {
    background-position: center -54px ;
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #FFFFFF;

    &__title {
        font-size: 52px;
        line-height: 51px;
        text-align: center;
        margin-top: 67px;
        max-width: 811px;
        width: 100%;
        margin-bottom: 0;
        font-weight: 900;
    }

    &__text {
        margin-top: 20px;
        font-style: italic;
    }

    &__button-container {
        margin: 67px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__cosmonot {
        width: 184px;
        height: 305px;
    }

    &__button {
        background: #FFFFFF;
        box-shadow: 0px 20px 30px rgba(249, 131, 171, 0.5);
        border-radius: 29px;
        width: 231px;
        height: 58px;
        border: none;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #000000;
        position: absolute;
        top: 65%;
    }
}

.bottom-section {

    &__cosmonot-left-decoration-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 63px;
    }

    &__cosmonot-left-decoration {
        width: 159px;
        height: 158px;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 32px;
        margin-right: 32px;
    }

    &__text {
        margin: 0 auto;
        max-width: 619px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        letter-spacing: -0.571429px;

        &_blue {        
            color: #0B24FB;
            font-weight: 700;
        }

        &_white {
            margin-top: 20px;
            display: block;
            line-height: 19px;
            text-align: right;
            color: #FFFFFF;
            font-style: italic;
            font-weight: 500;
        }
    }

    &__oval-decoration-container {
        margin-top: 38px;
        margin-left: auto;
        margin-right: auto;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 66%;
    }

    &__oval-decoration {
        width: 89px;
        height: 89px;
    }
    
}

.card-section {
    position: absolute;
    bottom: -205px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 816px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
        align-self: flex-start;
        margin-left: 32px;
        text-align: left;
        font-size: 32px;
        line-height: 38px;
        font-weight: 700;
        color: #FFFFFF;
        text-shadow: 0px 20px 30px rgba(249, 131, 171, 0.7);
    }

    &__card-body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        max-width: 632px;
    }

    &__button-next, &__button-prev {
        margin-top: 85px;
        border: none;
        min-width: 32px;
        max-width: 32px;
        min-height: 32px;
        max-height: 32px;
        border-radius: 50%;
        display: none;
    }

    &__button-prev {
        margin-right: 25px;
    }

    &__button-next {
        margin-left: 25px;
    }

    &__card-container {
        width: 100%;
        max-height: 140px;
        margin-top: 40px;
        padding-left: 32px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;  
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.slick-slide {
    div {
        width: auto;
        margin-right: 10px;
    }
}

@media screen and (min-width: 600px) {
    .card-section {
         &__text {
            align-self: center;
         }
    }
}

@media screen and (min-width: 992px) {
    .top-section {
        min-height: 768px;
    }

    .bottom-section {

        &__text {
            font-weight: 600;
            padding-left: 60px;
            font-size: 21px;
            line-height: 32px;
            text-align: right;
            letter-spacing: -0.75px;

            &_white {
                margin-top: 30px;
            }
        }
   }

   .card-section {

        &__card-body { 
            max-width: 748px;
        }

        &__button-next, &__button-prev {
            display: inline;
        }
   }
}