.lower-content {
    background: #000000;
    padding-top: 162px;

    &__section {
        margin-bottom: 67px;
    }

    &__bottom-part {
        display: flex;
        flex-direction: column;
    }

    &__image-decoration {
        align-self: flex-start;
        width: 253px;
        height: 337px;
    }
}

.text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__container {
        margin-left: 32px;
        margin-right: 32px;
        max-width: 619px;
    }

    &__title {
        text-align: left;
        font-size: 32px;
        font-weight: 800;
        line-height: 38px;
        color: #FFFFFF;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.571429px;
        color: #FFFFFF;
        text-align: left;
    }
}

.tips-section {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__container {
        margin: 0 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 960px;
    }
}